
main{background-color: aqua;}
footer{background-color:blueviolet}
nav{text-align: right;}
#nav1 a{color: black;}
#nav2 a{color: blueviolet;
    font-size:20px ;
    margin-right: 10px;
    font-weight: bold;}
nav a{text-decoration: none;}
